* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  height: 100%;
}

.hero {
  min-height: 100vh;
  position: relative;
}

.hero img {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  object-fit: cover;
  mix-blend-mode: lighten;
}

.hero video {
  position: absolute;
  left: 0;
  top: 37%;
  height: 69%;
  width: 100%;
  object-fit: contain;
  animation: reveal 1.5s ease 2s forwards;
  opacity: 0;
  transform: rotate(90deg);
}

.logo-nav {
  z-index: 100;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.logo-nav ul {
  text-decoration: none;
  list-style: none;
  display: flex;
}

.logo-nav a {
  text-decoration: none;
  color: black;
}

.logo-nav ul li {
  margin-right: 40px;
  position: relative;
}

.logo-nav ion-icon {
  font-size: 20px;
}

/*BOTON UNIVERSAL*/

.btn-primary {
  text-transform: uppercase;
  display: inline-table;
  padding: 5px 25px;
  border: solid 2px rgba(0, 0, 0, 0.07);
  position: relative;
  z-index: 2;
  transition: all ease 1s;
  margin-top: 10px;
  text-decoration: none;
  color: #2d2a2a;
  cursor: pointer;
}

.btn-primary:before {
  content: "";
  width: 0%;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #2d2a2a;
  z-index: -1;
  transition: all ease 1s;
}
.btn-primary:hover:before {
  width: 100%;
}
.btn-primary:hover {
  color: white;
}

/*SECCION  1*/

.sec1 {
  display: flex;
  justify-content: space-evenly;
  padding: 100px;
  margin-top: 100px;
  
  overflow-y: scroll;
}

.sec1 .sec_img {
  max-width: 300px;
}

.sec1 img {
  height: 450px;
}

.sec_text {
  max-width: 400px;
}
.sec_text h2 {
  font-size: 50px;
  letter-spacing: 1px;
  color: #2d2a2a;
}

.sec_text h2 img {
  width: 50px;
  height: 50px;
}
.sec_text .sec_text_desc {
  padding-left: 80px;
  padding-right: 80px;
  border-left: 2px solid rgba(0, 0, 0, 0.07);
}

.sec_text .sec_text_desc .sec_text_desc_p {
  margin: 40px 0 40px;
  font-size: 12px;
  line-height: 28px;
}

/*-----------------------SECCION 2--------------------------- */
/* ---------------------------------------------------------- */

.sec2 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow-y: scroll;
}

.sec2 h2 {
  color: #2d2a2a;
  font-size: 30px;
  border-left: 2px solid rgba(0, 0, 0, 0.07);
  letter-spacing: 1px;
  margin-bottom: 40px;
  padding-left: 10px;
}
.sec2 .box-desing {
  width: 100%;
  max-width: 800px;
  height: 400px;

  position: relative;
  overflow: hidden;
}

.card {
  height: 400px;
  padding: 40px;
  color: #2d2a2a;
  line-height: 22px;
  box-sizing: border-box;
  position: relative;
}
.card::before {
  content: "";
  width: 110px;
  height: 110px;
  border-bottom-right-radius: 100%;
  background-color: #2d2a2a;
  z-index: -1;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.profile {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.profile img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
  object-fit: cover;
}
.profile h3 {
  font-size: 25px;
  margin-bottom: 8px;
}
#slide {
  width: 100%;
  padding-right: 60px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}
.sidebar {
  width: 60px;
  height: 100%;
  padding: 15px 0;
  box-sizing: border-box;
  background-color: #2d2a2a;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.sidebar img {
  width: 30px;
  color: white;
  cursor: pointer;
}
.card :nth-child(2) {
  line-height: 30px;
}

/*SECCION  3*/
.sec3 .icons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-40%);
  text-decoration: none;
}

.sec3 img {
  width: 100%;
}

.sec3 {
  padding: 100px;
  position: relative;
}

.sec3 a {
  padding: 0 20px;
  text-decoration: none;
}

.sec3 a img {
  width: 30px;
}

/*SECCION  4*/
.sec4 {
  max-width: 95%;
}

.sec4 .image-slider .item img {
  width: 80%;
  height: 80%;
}

/*----------------------FOOTER--------------------*/

footer {
  padding: 125px 0 180px;
  text-align: center;
  background-color: #1f1f1f;
  position: relative;
}

footer .circular-text {
  z-index: 90;
  position: absolute;
  top: -71px;
  left:calc(50% - 8%)
 
}

.circular-text {
  animation: circular 20s linear infinite;
}

.circular-text img {
  width: 150px;
  height: 150px;
}

footer p {
  text-transform: uppercase;
  letter-spacing: 10px;
  margin-bottom: 20px;
  color: white;
}
footer a {
  font-size: 40px;
  color: white;
  text-decoration: none;
  font-weight: 400;
  position: relative;
}

footer a:before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  height: 2px;
  width: 0;
  background-color: #fff;
  transition: all ease 1s;
}

footer a:hover:before {
  width: 100%;
}

/* -------------------ANIMACIONES---------------- */
/* ------------------------------------------------ */

/* ANIMACION VIDEO */
@keyframes reveal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* ANIMACION IMAGEN CIRCULAR */
@keyframes circular {
  to {
    transform: rotate(360deg);
  }
}

/*------------------------MEDIA QUERYS-----------------------*/

@media screen and (min-width: 300px) and (max-width: 426px) {
  /*NAVEGADOR*/
  .nav {
    display: none;
  }

  /*VIDEO E IMAGEN*/
  .hero {
    min-height: 50vh;
  }
  .hero h1 {
    font-size: 50px;
    position: absolute;
    top: 60%;
    left: 20%;
  }

  /*SECCION  1*/

  .sec1 {
    display: flex;
    flex-direction: column;
    padding: 100px 0 100px 30px;
    justify-content: center;
    align-items: center;
  }

  .sec1 .sec_img {
    display: none;
  }

  .sec_text .sec_text_desc {
    padding-left: 60px;
  }

  .sec_text h2 {
    font-size: 35px;
    letter-spacing: 1px;
  }

  /* SECCION 3 */
  .sec3 {
    padding: 100px 20px;
    position: relative;
  }
  .sec3 a img {
    width: 20px;
  }
  .sec3 a {
    padding: 0 8px;
  }

  /*FOOTER*/
  footer a {
    font-size: 15px;
  }

  .circular-text img {
    width: 90px;
    height: 90px;
  }
}

@media screen and (min-width: 427px) and (max-width: 769px) {
  /*NAVEGADOR*/
  .nav {
    display: none;
  }

  /*VIDEO E IMAGEN*/
  .hero {
    min-height: 100vh;
  }

  .hero h1 {
    font-size: 50px;
    position: absolute;
    top: 60%;
    left: 30%;
  }

  /*SECCION 1*/

  .sec1 {
    display: flex;
    flex-direction: column;
    padding: 100px 0 100px 30px;
    justify-content: center;
    align-items: center;
  }

  .sec1 .sec_img {
    display: none;
  }

  .sec_text .sec_text_desc {
    padding-left: 60px;
  }

  .btn-primary {
    padding: 5px 20px;
  }
  .sec_text h2 {
    font-size: 40px;
    letter-spacing: 1px;
  }

  /* SECCION 3 */
  .sec3 {
    padding: 100px 20px;
    position: relative;
  }
  .sec3 a img {
    width: 25px;
  }
  .sec3 a {
    padding: 0 10px;
  }
  /*SECCION 4*/

  /*FOOTER*/
  footer a {
    font-size: 25px;
  }

  .circular-text img {
    width: 120px;
    height: 120px;
  }
}
