*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.contenedor{   
display: flex;
justify-content: center;
/* background-image: url(/images/img-form.jpg);
background-size: cover;
height: 100vh; */
}
.formulario-img form{
    display: flex;
    flex-direction: column;
    padding: 100px;   
}
.formulario-img h3{
    font-size: 25px;
    font-family: 'Montserrat', sans-serif; 
    letter-spacing: 1px;
    
}
.formulario-img label{
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 500;
}
.formulario-img input{
    padding: 5px 25px;
    outline: none;
}


/*BOTON UNIVERSAL*/

.btn-primary {
    padding: 10px 25px;
    border: solid 2px rgba(0, 0, 0, 0.07);
    position: relative;
    z-index: 2;
    transition: all ease 1s;
    margin-top: 30px;
    text-decoration: none;
    color: #000;
    background-color: white;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 600;
    letter-spacing: 1px;
}

.btn-primary:before{
    content: '';
    width: 0%;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    z-index: -1;
    transition: all ease 1s;
}
.btn-primary:hover:before{
    width: 100%;
}
.btn-primary:hover{
    color: white;
}
.formulario-img{
    backdrop-filter: blur(15px);
    display: flex;
    padding: 100px 0 0 0;

}
.contenedor .formulario-img img{
    height: 500px;
    

}