<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
            <!-- <div class="logo-nav">
                <div class="logo" data-aos="fade-up" data-aos-duration="1500">
                    <a href="/views/index.html"><h3>BeSustentable</h3></a>
                </div>
                <div class="nav" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="700">
                    <ul>
                        <a href="/views/index.html"><li>Inicio</li></a>
                        <a href="#diseñadores">
                            <li>Diseñadores</li>
                        </a>
                        <a href="#contacto">
                            <li>Contacto</li>
                        </a>
                    </ul>
                </div>
            </div> -->
        


        <!-- INFORMACION -->

        <div class="contenedor">
            <div class="lineas">
                <div class="linea1"></div>
                <div class="linea2"></div>
                <div class="linea3"></div>
            </div>
            <h1>Prendas Sustentables</h1>
            <div class="text-info">
                <div class="parrafos">
                    <h2 class="titulo-sec">
                        Qué materiales se usan en la moda sustentable
                    </h2>
                    <p>Hay muchos factores que se deben considerar para determinar la sustentabilidad del material. Dos de ellos son la renovabilidad y la fuente de una fibra, el proceso de cómo una fibra cruda se convierte en un textil, las condiciones de trabajo de las personas que producen los materiales y la total huella de carbono de ese material.</p>
                    <h3>Las fibras naturales</h3>
                    <p>Las fibras naturales son fibras que se encuentran, precisamente, en la naturaleza y no son fabricadas a base de petróleo. Las fibras naturales que se usan para hacer prendas en el mundo de la moda sustentable se pueden clasificar en dos grupos principales, celulosa o fibra de plantas y proteína o fibra animal.</p>
                    <h3>Fibras Recicladas</h3>
                    <p>Las fibras recicladas o regeneradas están hechas de pedazos de telas recogidas de fábricas de ropa, que se procesan de nuevo en fibras cortas para girar en un nuevo hilo.​ Es importante tener en cuenta que hay sólo unas pocas instalaciones a nivel mundial que son capaces de procesar los recortes y las variaciones van desde una mezcla de fibras de algodón reciclado y de hilos RePet añadidos para la resistencia a las fibras de algodón reciclado.</p>
                </div>
                
            </div>
        </div>
    
</body>
</html>